.status-add {
  width: 500px;
  padding: 12px 16px 10px 16px;
  margin-bottom: 16px;
}

.status-add__upper {
  display: flex;
  width: 100%;
}
.user__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.status-add__input {
  width: 100%;
  cursor: pointer;
}
.status-add__input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.status-add__input > input {
  cursor: pointer;
}
.status-add__lower {
  display: flex;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  margin-top: 12px;
  padding-top: 8px;
}
.status-add__item {
  display: flex;
  font-size: 15px;
  color: #b0b3b8;
  flex-grow: 1;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.status-add__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.status-add__item > div {
  margin-left: 8px;
}
.status-add__item > div::before {
  content: "";
  display: block;
  margin-top: 1px;
}

/* ____________________________________________ */
.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 14, 14, 0.8);
}
.status-add__create-feild {
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 428px;
  width: 500px;
  border-radius: 8px;
  background-color: RGB(36, 37, 38);
  max-height: 80vh;
}
.create-feild--adding-image {
  height: auto;
}
.create-feild__title {
  position: relative;
  height: 60px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.create-feild__title-name-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-feild__title-name {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: RGB(228, 230, 235);
}
.create-feild__closeBtn {
  position: absolute;
  top: 12px;
  right: 16px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-feild__closeBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.create-feild__user {
  margin: 0px 16px;
  padding: 16px 0px;
  display: flex;
}
.user__right {
  margin-left: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.user__name {
  color: #e4e6eb;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.user__name::before {
  display: block;
  content: "";
  margin-top: -5px;
  height: 0;
}
.user__name::after {
  display: block;
  content: "";
  margin-bottom: -4px;
  height: 0;
}
.status-mode__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 4px 8px;
  margin-top: 11px;
  border-radius: 6px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.status__mode::before {
  display: block;
  content: "";
  margin-top: -4px;
  height: 0;
}
.status__mode::after {
  display: block;
  content: "";
  margin-top: -3px;
  height: 0;
}
.status-mode__icon {
  margin-right: 4px;
  height: 12px;
  aspect-ratio: auto 12 / 12;
  width: 12px;
  filter: invert(89%);
}
.status-mode__name {
  margin-right: 4px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: RGB(228, 230, 235);
}
/* ____________________________________________ */
.create-feild__middle-wrapper {
  flex-grow: 1;
  overflow: auto;
}
.create-feild__input {
  flex-grow: 1;
  padding: 0px 16px;
  outline: none;
  color: #e4e6eb;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.create-feild__input--adding-image {
  font-size: 15px;
}
.create-feild__upload-image-wrapper {
  border-radius: 8px;
  border: 1px solid #3e4042;
  margin: 32px 16px 0px 16px;
}
.create-feild__upload-image {
  padding: 8px 0px;
  position: relative;
}
.upload-image__pc-wrapper {
  margin: 4px 0px;
  padding: 0px 8px;
}
.upload-image__pc {
  height: 25vh;
  background-color: #323436;
  min-height: 150px;
  max-height: 221px;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.upload-image__pc:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.upload-image__pc-icon-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0px;
}
.upload-image__pc-big-text {
  color: #e4e6eb;
  line-height: 1.1765;
  font-weight: 500;
  font-size: 1.0625rem;
  margin: 4px 0px;
}
.upload-image__pc-big-text::before {
  display: block;
  content: "";
  margin-top: -5px;
  height: 0;
}
.upload-image__pc-big-text::after {
  display: block;
  content: "";
  margin-bottom: -3px;
  height: 0;
}
.upload-image__pc-small-text {
  color: #b0b3b8;
  line-height: 1.3333;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 4px 0px;
}
.upload-image__pc-small-text::before {
  display: block;
  content: "";
  margin-top: -4px;
  height: 0;
}
.upload-image__pc-small-text::after {
  display: block;
  content: "";
  margin-bottom: -3px;
  height: 0;
}
.upload-image__closeBtn {
  position: absolute;
  right: 10px;
  top: 12px;
  height: 36px;
  width: 36px;
  transform: scale(0.8);
  border-radius: 50%;
  background-color: #3e4042;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.upload-image__closeBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* .create-feild__input:focus::before {
  content: attr(data-text);
  color: #8a8d91;
} */
.input--focus-color::before {
  content: attr(data-text);
  color: #8a8d91;
}
.input--blur-color::before {
  content: attr(data-text);
  color: #b0b3b8;
}
/* ____________________________________________ */
.create-feild__add-and-post {
  padding: 16px 0px;
}
.create-feild__add-to-post {
  display: flex;
  justify-content: space-between;
  border: 1px solid #3e4042;
  border-radius: 8px;
  margin: 0px 16px;
  padding: 8px;
}
.add-to-post__title {
  color: #e4e6eb;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.add-to-post__title > div {
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.3333;
}
.add-to-post__title > div::before {
  display: block;
  content: "";
  margin-top: -5px;
  height: 0;
}
.add-to-post__title > div::after {
  display: block;
  content: "";
  margin-bottom: -4px;
  height: 0;
}
.add-to-post__item-list {
  display: flex;
}
.add-item-list__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-item-list__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* __________PostBtn_________ */
.create-feild__postBtn {
  margin: 16px 16px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 36px;
}

.create-feild__postBtn--disabled {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3);
}
.create-feild__postBtn--active {
  background-color: #2d88ff;
  color: white;
  cursor: pointer;
}
