.contact-list__item-wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  border-radius: 12px;
}
.contact-list__item-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.contact-list__img-wrapper > img {
  object-fit: cover;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-left: 10px;
}
.contact-list__name {
  display: flex;
  align-items: center;
  color: white;
}
.contact-list__name > div::before {
  content: "";
  display: block;
  height: 0;
  margin-top: -4px;
}
